/**
 * Reset some basic elements
 */
@import 'https://fonts.googleapis.com/css?family=Dynalight';
@import 'https://fonts.googleapis.com/css?family=Lato:400';

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', 'Helvetica Neue' ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.hero-welcome {
    background-image: url(/images/palazzo-vecchio.jpg);
    height: 95vh;

    img {
        width: 80vw;
        max-width: 40em;
        margin: 0 auto;
        margin-top: 25vh;
        display: block;
    }
}

.hero-title {
    height: auto;
    padding: 8em 0;

    h2 {
        font-family: 'Dynalight', cursive, 'Snell Roundhand', Times, serif;
        text-align: center;
        font-size: 6em;
        color: #BA8D52;
        font-weight: normal;
    }
}

.hero-title-when {
    background-image: url(/images/wedding-time.jpg);
    text-shadow: 2px 2px #505050;
}
.hero-title-where {
    background-image: url(/images/palazzo-vecchio.jpg);
    text-shadow: 2px 2px #505050;
}
.hero-title-ceremony {
    background-image: url(/images/wedding_in_italy_photos_by_nicole_caldwell_florence0009.jpg);
    text-shadow: 2px 2px #505050;
}
.hero-title-lunch {
    background-image: url(/images/palazzo-vecchio2.jpg);
    text-shadow: 2px 2px #505050;
}
.hero-title-dinner {
    background-image: url(/images/dinner.jpg);
    text-shadow: 2px 2px #505050;
}
.hero-title-inclusive {
    background-image: url(/images/dinner.jpg);
    text-shadow: 2px 2px #505050;
}
.hero-title-exclusive {
    background-image: url(/images/flight.jpg);
    text-shadow: 2px 2px #505050;
}
.hero-title-rsvp {
    background-image: url(/images/il-castello-del-trebbio2.jpg);
    text-shadow: 2px 2px #505050;
}
.hero-title-news {
    background-image: url(/images/wedding.jpg);
    text-shadow: 2px 2px #505050;
}

.text-block {
    padding: 3em 1em;
    background: linear-gradient(
      to right,
      rgba(100,255,100, 0.6) 33.33%, rgba(255,255,255,0.25) 33.33%,
      rgba(255,255,255,0.25) 66.66%, rgba(255,0,0,0.3) 66.66%
  );
}

.text-block-inner{
    max-width: 40em;
    margin: 0 auto;
    text-shadow: 0px 0px white;

    ul {
        margin: auto 2em;
    }

    .no-wrap {
        white-space: nowrap;
    }
}

p {
    margin-bottom: 1em;
    line-height: 1.4;

    iframe {
        display: block;
        width: 100%;
        height: 200vh;
        max-height: 40em;
    }
}

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #0DFF89;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}